#####################################################
# This file is used to ignore files and directories
# that should not be tracked by Git.
####################################################

# VSCode settings
.vscode/

# MacOS Finder junk
.DS_Store

# General Files
WifiCreds.h
Private/